<div class="result">
    <div class="heading">
        <h2>
            <a href="{{url}}" target="_blank">
                {{url}}
            </a>
        </h2>
        <div class="scores">
            <a class="button" href="https://developers.google.com/speed/pagespeed/insights/?url={{encoded_url}}" target="_blank">
                <i class="fa fa-play"></i>
                Run in Insights
            </a>
            <div class="score-item">
                <i class="fa fa-mobile"></i>
                <span class="score {{mobile.speed.keyword}}">
                    <span class="type">Speed</span>
                    {{mobile.speed.score}} / 100
                </span>
                <span class="score {{mobile.usability.keyword}}">
                    <span class="type">Usability</span>
                    {{mobile.usability.score}} / 100
                </span>
            </div>
            <div class="score-item">
                <i class="fa fa-desktop"></i>
                <span class="score {{desktop.speed.keyword}}">
                    <span class="type">Speed</span>
                    {{desktop.speed.score}} / 100
                </span>
            </div>
        </div>
    </div>
</div>