<hr>
<div>
    <h2>
        <a href="{{url}}">{{title}}</a>
    </h2>
    <ul>
        <li>
            <strong>Strategy</strong>{{strategy}}
        </li>
        <li class="{{speed_class}}">
            <strong>Speed score</strong>{{speed_score}}
        </li>
        <li class="{{usability_class}}">
            <strong>Usability score</strong>{{usability_score}}
        </li>
        <li>
            <strong>HTML</strong>{{html_size}}
        </li>
        <li>
            <strong>CSS</strong>{{css_size}}
        </li>
        <li>
            <strong>Javascript</strong>{{js_size}}
        </li>
        <li>
            <strong>Images</strong>{{img_size}}
        </li>
        <li>
            <strong>Request</strong>{{request_size}}
        </li>
        <li>&nbsp;</li>
        <li>
            <strong>Resources</strong>{{total_resources}}
        </li>
        <li>
            <strong>CSS Resources</strong>{{css_resources}}
        </li>
        <li>
            <strong>JS Resources</strong>{{js_resources}}
        </li>
    </ul>
</div>
