<div class="result">
    <div class="heading">
        <button class="toggle">
            <i class="fa fa-chevron-right"></i>
        </button>
        <h2>
            <a href="{{mobile.url}}" target="_blank">
                {{mobile.url}}
            </a>
            <!--
            <a class="button" href="https://developers.google.com/speed/pagespeed/insights?url={{mobile.url}}" target="_blank">
                Run in Insights
            </a>
            -->
        </h2>
        <div class="scores">
            <div class="score-item">
                <i class="fa fa-mobile"></i>
                <span class="score {{mobile.speed_class}}">
                    <span class="type">Speed</span>
                    {{mobile.speed_score}} / 100
                </span>
                <span class="score {{mobile.usability_class}}">
                    <span class="type">Usability</span>
                    {{mobile.usability_score}} / 100
                </span>
            </div>
            <div class="score-item">
                <i class="fa fa-desktop"></i>
                <span class="score {{desktop.speed_class}}">
                    <span class="type">Speed</span>
                    {{desktop.speed_score}} / 100
                </span>
                <span class="score {{desktop.usability_class}}">
                    <span class="type">Usability</span>
                    {{desktop.usability_score}} / 100
                </span>
            </div>
        </div>
    </div>
    <div class="details" style="display: none">
        <div class="detail">
            <h3>
                Desktop
            </h3>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>HTML</td>
                    <td>{{mobile.html_size}}</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>{{mobile.css_size}}</td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>{{mobile.js_size}}</td>
                </tr>
                <tr>
                    <td>Images</td>
                    <td>{{mobile.img_size}}</td>
                </tr>
                <tr>
                    <td>Request</td>
                    <td>{{mobile.request_size}}</td>
                </tr>
                <tr>
                    <td>Resources</td>
                    <td>{{mobile.total_resources}}</td>
                </tr>
                <tr>
                    <td>CSS Resources</td>
                    <td>{{mobile.css_resources}}</td>
                </tr>
                <tr>
                    <td>JS Resources</td>
                    <td>{{mobile.js_resources}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="detail">
            <h3>
                Mobile
            </h3>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>HTML</td>
                    <td>{{desktop.html_size}}</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>{{desktop.css_size}}</td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>{{desktop.js_size}}</td>
                </tr>
                <tr>
                    <td>Images</td>
                    <td>{{desktop.img_size}}</td>
                </tr>
                <tr>
                    <td>Request</td>
                    <td>{{desktop.request_size}}</td>
                </tr>
                <tr>
                    <td>Resources</td>
                    <td>{{desktop.total_resources}}</td>
                </tr>
                <tr>
                    <td>CSS Resources</td>
                    <td>{{desktop.css_resources}}</td>
                </tr>
                <tr>
                    <td>JS Resources</td>
                    <td>{{desktop.js_resources}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>