<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PSI Results</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <style>
            .red
            {
                color: red;
            }
            .orange
            {
                color: orange;
            }
            .green
            {
                color: green;
            }
        </style>
    </head>
    <body>
        <h1>PSI Results</h1>
        <!--results-->
    </body>
</html>